<div class="mt-8 relative lg:block flex justify-center">
    <div class="main-card absolute flex items-end lg:px-11 px-4 pb-14 pt-36"
        [ngClass]="{'typing': typing, 'typingStatusCvv' : typingStatusCvv}">
        <div class="w-full">
            <div>
                <img [ngClass]="typing ? 'block' : 'hidden'" class="ic-visa" src="/assets/images/checkout/ic-visa.png" alt="icon Visa">
            </div>
            <ng-container *ngIf="number.length < 1; else typingNumber">
                <div class="number-card">
                    <span>**** **** **** ****</span>
                </div>
            </ng-container>
            <ng-template #typingNumber>
                <div class="number-card">
                    <span>{{ number | mask: '0000 0000 0000 0000' }}</span>
                </div>
            </ng-template>

            <div class="flex justify-between lg:pt-9 pt-4">
                <ng-container *ngIf="name.length < 1; else typingName">
                    <div class="name-card">
                        <span>NOME DO TITULAR</span>
                    </div>
                </ng-container>
                <ng-template #typingName>
                    <div class="name-card">
                        <span>{{name}}</span>
                    </div>
                </ng-template>

                <div class="expiration-date">
                    <ng-container *ngIf="expiration.length < 1; else typingExpiration">
                        <span>00/00</span>
                    </ng-container>
                    <ng-template #typingExpiration>
                        <span>{{ expiration | mask: '00/00' }}</span>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>