.main-card {
    background-image: url(./../../../../../assets/images/checkout/bg-front-card-off.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 492px;
    height: 302.47px;
    transition: ease-in-out;
    &.typing {
        background-image: url(./../../../../../assets/images/checkout/bg-front-card-on.svg);
    }

    .ic-visa {
        width: 90px;
    }
    .number-card {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        margin-top: 72px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    }

    .name-card,
    .expiration-date {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 26px;
        color: #ffffff;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 768px) {
    .main-card {
        width: 280px;
        height: 171.98px;

        .number-card {
            font-size: 14px;
            line-height: 17px;
            margin-top: 42px;
        }

        .name-card,
        .expiration-date {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
