<div class="lg:flex hidden justify-end">
    <div *ngFor="let item of itemsList;let i=index" class="flex step items-center">
        <div class="step-number flex justify-center items-center" [ngClass]="{'active': stepActive== i}">
            <span>{{i}}</span>
        </div>
        <div class="step-name ml-2">{{item}}</div>
    </div>
</div>