.step {
    margin-left: 27px;
    .step-number {
        border: 1.3px solid #4bde95;
        box-sizing: border-box;
        color: #4bde95;
        border-radius: 100%;
        &.active {
            background-color: #4bde95;
            background-image: url(./../../../../../../../assets/images/checkout/ic-check.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            background-size: 13px;
            span {
                display: none;
            }
        }
        span {
            width: 20px;
            height: 20px;
            text-align: center;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
        }
    }
    .step-name {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        margin-right: 33px;
        color: #4bde95;
    }
    &::after {
        background-image: url(./../../../../../../../assets/images/checkout/ic-right.png);
        background-repeat: no-repeat;
        width: 8px;
        height: 13px;
        content: "";
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}
