.checkout-main {
    background-color: #e5e5e5;
    .container {
        .one-part {
            background-color: #4bde95;
            .ic-left {
                width: 8px;
                height: 13.67px;
            }

            .section-page {
                font-family: "Lato", sans-serif;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                line-height: 16px;
                color: #ffffff;
            }

            .ic-card {
                max-width: 47.5px;
                height: 47.5px;
            }

            .title-page {
                font-family: "Lato", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                line-height: 24px;
                color: #ffffff;
            }
        }
    }
}

//form

:host ::ng-deep .mat-input-element {
    color: #3c3c3c;
    caret-color: #c6c6c6;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

:host ::ng-deep .mat-form-field-appearance-legacy {
    .mat-form-field-label {
        color: #c6c6c6;
        font-family: "Lato", sans-serif;
    }
}

:host ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #4bde95;
        caret-color: #c6c6c6;
    }
}

:host ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-ripple {
        background-color: #4bde95;
    }
}

:host ::ng-deep .mat-select-arrow-wrapper {
    background-image: url(./../../../assets/images/checkout/ic-select.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 8px;
    height: 13.67px;
    .mat-select-arrow {
        opacity: 0;
    }
}

.ic-information {
    width: 16px;
    height: 16px;
    filter: opacity(0.5);
}

.bt-continue {
    width: 151px;
    height: 48px;
    background: #308e5f;
    border-radius: 4px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #308e5f;
    &.bt-disabled {
        opacity: 0.7;
    }
    &:hover {
        background: transparent;
        color: #308e5f;
    }
}

@media (max-width: 768px) {
    .checkout-main {
        .container {
            .one-part {
                .ic-left {
                    width: 11.43px;
                    height: 19.52px;
                }

                .section-page {
                    line-height: 15.6px;
                }

                .ic-card {
                    max-width: 38px;
                    height: 38px;
                }

                .title-page {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }
}
