<section class="checkout-main flex justify-start">
    <div class="container lg:flex">
        <div class="lg:w-1/2 w-full">
            <div class="lg:max-w-xs max-w-full one-part pt-12 lg:pl-2 pl-0 lg:h-screen h-60 lg:max-h-screen max-h-60">
                <div class="flex lg:pl-0 pl-3">
                    <div class="flex items-center">
                        <img class="ic-left" src="/assets/images/checkout/ic-left.png" alt="arrow left">
                    </div>
                    <div class="lg:flex hidden items-center lg:pl-2.5">
                        <span class="section-page">Alterar forma de pagamento</span>
                    </div>
                    <div class="lg:hidden flex items-center pl-2.5">
                        <span class="section-page">Etapa 2 de 3</span>
                    </div>
                </div>
                <div class="flex lg:pt-12 pt-8 lg:px-0 px-10">
                    <div>
                        <img class="ic-card" src="/assets/images/checkout/ic-card.svg" alt="icon card">
                    </div>
                    <div class="pl-4 lg:pr-12">
                        <h1 class="title-page">Adicione um novo cartão de crédito</h1>
                    </div>
                </div>
                <app-info-card [number]="registerCard.value.number" [name]="registerCard.value.name"
                    [expiration]="registerCard.value.expiration" [cvv]="registerCard.value.cvv" [typing]="numberStatus"
                    [typingStatusCvv]="cvvEnable"></app-info-card>
            </div>
        </div>
        <div class="lg:w-1/2 w-full lg:max-w-3xl max-w-full pt-12 pl-2 two-part lg:h-screen h-max">
            <app-breadcrumb [stepActive]="0" [itemsList]="menuItems"></app-breadcrumb>
            <div class="form-register-card w-full mt-16">
                <form [formGroup]="registerCard" (ngSubmit)="onFormSubmit(registerCard.value)"
                    class="w-full h-screen lg:px-0 px-9">
                    <div class="w-full">
                        <mat-form-field appearance="legacy" class="w-full">
                            <mat-label>
                                Número do cartão
                            </mat-label>
                            <input matInput formControlName="number" mask="0000 0000 0000 0000"
                                (ngModelChange)="checkInputNumber()">
                            <mat-error
                                *ngIf="registerCard.get('number')?.invalid && (registerCard.get('number')?.dirty || registerCard.get('number')?.touched)">
                                Número de cartão inválido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-full">
                        <mat-form-field appearance="legacy" class="w-full">
                            <mat-label>
                                Nome (igual ao cartão)
                            </mat-label>
                            <input matInput formControlName="name">
                            <mat-error
                                *ngIf="registerCard.get('name')?.invalid && (registerCard.get('name')?.dirty || registerCard.get('name')?.touched)">
                                Insira seu nome completo
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex w-full">
                        <div class="w-1/2">
                            <mat-form-field appearance="legacy" class="w-full pr-4">
                                <mat-label>
                                    Validade
                                </mat-label>
                                <input matInput formControlName="expiration" mask="00/00">
                                <mat-error
                                    *ngIf="registerCard.get('expiration')?.invalid  && (registerCard.get('expiration')?.dirty || registerCard.get('expiration')?.touched)">
                                    Data inválida
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="w-1/2">
                            <mat-form-field appearance="legacy" class="w-full">
                                <mat-label>
                                    <div class="flex items-center">
                                        <div>CVV</div>
                                        <div class="pl-1"><img class="ic-information"
                                                src="/assets/images/checkout/information.svg" alt="icon information">
                                        </div>
                                    </div>
                                </mat-label>
                                <input matInput formControlName="cvv" maxlength="3" mask="000" (focus)="cvvStatusOn()"
                                    (focusout)="cvvStatusOff()">
                                <mat-error
                                    *ngIf="registerCard.get('cvv')?.invalid && (registerCard.get('cvv')?.dirty || registerCard.get('cvv')?.touched)">
                                    Código inválido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="legacy" class="w-full">
                        <mat-label>
                            Número de parcelas
                        </mat-label>
                        <mat-select formControlName="numberInstallments">
                            <mat-option value="1">
                                1x R$ 1.000,00 sem juros
                            </mat-option>
                            <mat-option value="2">
                                2x R$ 2.000,00 sem juros
                            </mat-option>
                            <mat-option value="3">
                                3x R$ 3.000,00 sem juros
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="registerCard.get('numberInstallments')?.invalid && (registerCard.get('numberInstallments')?.dirty || registerCard.get('numberInstallments')?.touched)">
                            Insira o número de parcelas
                        </mat-error>
                    </mat-form-field>

                    <div class="flex lg:justify-end justify-center mt-16">
                        <button type="submit" class="bt-continue" [disabled]="registerCard.invalid"
                            [ngClass]="{'bt-disabled': registerCard.invalid}">
                            CONTINUAR
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>